<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <table class="table table-bordered table-dark" align="center">
            <center>
                <u>
                    <h1>Genre List</h1>
                </u>
                <a class="btn btn-outline-success" href="{% url 'genre'  %}">ADD
                </a>
            </center>
            <tr>
                <th>Genre</th>
                <th>Description</th>
                <th>View</th>
                <th>Update</th>
                <th>Delete</th>
                {% for i in qs%}
            <tr>
                <style>
                    table {
                        text-align: center;
                    }
                </style>
                <td>{{i.name}}</td>
                <td>{{i.description}}</td>
                <td>
                    <a class="btn btn-outline-success" href="{% url 'gen-details' i.id %}">View
                    </a>
                </td>
                <td>
                    <a class="btn btn-outline-success" href="{% url 'gen-update' i.id %}">Update
                    </a>
                </td>
                <td>
                    <a class="btn btn-outline-success" href="{% url 'gen-delete' i.id %}">Delete
                    </a>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>

</body>

</html>